<html>
<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Youtube Trending Videos</title>
    {% endblock %}
</head>

<body>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div style="border-color: #f1f1f1;" id="sidebar-wrapper">
        <div class="sidebar-heading"><h2><a href="/" >Home</a> </h2></div>
        <div  class="list-group list-group-flush overflow-auto">
            <a href="trendingVideos" class="list-group-item list-group-item-action {% block trending_videos %}{% endblock %}">Trending Videos</a>            
            <a href="popularityByRegion" class="list-group-item list-group-item-action {% block popular_categories %}{% endblock %}">Popular Categories</a>
            <a href="mostCommentedPage" class="list-group-item list-group-item-action {% block commented_categories %}{% endblock %}">Most Commented Categories</a>
            <a href="factorsImpactingPopularity" class="list-group-item list-group-item-action {% block factors %}{% endblock %}">Popularity Factors</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <!-- <button  class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
            <button class="btn btn-primary" type="button" id="menu-toggle"> 
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="navbar-header">
                <a class="navbar-brand"> <h3> YouTube Popularity Analysis</h3></a>
            </div> -->
        </nav>
        <div class="container-fluid">
                {% block content %}{% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});
</script>
</body>
</html>