{% extends "base.html" %}
{% block content %}


<div class="vertical-center-1">
	<div class="container text-center"> 
 		<h1> YouTube Popularity Analysis</h1>
	</div>
</div>

<div class="jumbotron vertical-center-2">
      <div class="container text-center">
      		<h3 style="color: #c4302b;">Are you a content creator? Know what videos are trending in your region... </h3><br>
			For a novice content creator, he needs to know its audiences as it requires 1,000 subscribers and 4,000 hours of watch time on their channel to start generating revenue from youtube.
			<br><br><br>
			<h3 style="color: #c4302b;">Promoting products with YouTube ads? Know which video to ask for...</h3><br>

			The charge for a single advertisement on youtube lies between  $0.10 to $0.30 per view or action, with an average $10 daily budget and no upper limit. A company would want to target the most number of viewers with their ad with a single video.
	</div>
</div>

{% endblock %}