.jumbotron{
    background-color: #ffffff;
}

.vertical-center-1 .container h1{
    color: #000000;
}
.vertical-center-2{
    text-align: center; 
    background-color: #ffffff;
     height: 20%;
}

.vertical-center-2:before { 
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      height: 30%;
}

.dashboard-container {
    position: relative;
    overflow: hidden;
    padding-top:75%;
}

.dashboard-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

#sidebar-wrapper {
    background-color: #000000;
    min-height: 135vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;

}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group .list-group-item{
    background-color: #000000;
    color: #f1f1f1;
    border-color: #f1f1f1;
}

#wrapper #sidebar-wrapper .sidebar-heading h2 a{
    color: #f1f1f1;
    text-decoration : none;
}

#wrapper #sidebar-wrapper .sidebar-heading h2 a:hover{
    color: #111111;
}


#sidebar-wrapper .list-group .list-group-item:hover {
  color: #000000;
}

#sidebar-wrapper .list-group .list-group-item.active {
      background-color: #ffffff;
      color: #000000;
}

#menu-toggle{
    background-color: #ffffff;
    border-color: #000000;
}

#menu-toggle .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 15px !important;
    height:15px !important;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/*.navbar-header{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    float: none; 
    color: #c4302b;
}*/

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
